.box {
    border-style: solid;
    border-color: #0000cc;
    border-width: thin;
    padding: 25px;
    width: 1024px;
}

.bold {
    font-weight: bold;
}

.title {
    font-size: 24pt;
    font-weight: bold;
}

#adder {
    font-size: 16pt;
    font-weight: bold;
}

.x-panel-body-default {
    border-style: none;
}