<html>
    <head>
        <title>Video List</title>
        <script type="text/javascript">
            function handleClientLoad() {
                gapi.client.setApiKey('AIzaSyCvkrDNb35igiiOVC0oiL7oUve0aqEwQkU');
            }
        </script>
        <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
        <link rel="stylesheet" type="text/css" href="/static/js/ext-4.1.1a/resources/css/ext-all.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/video_list.css"/>
        <script type="text/javascript" src="/static/js/ext-4.1.1a/ext-all-debug.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>
    </head>
    <body>

    </body>
</html>